@use "variables" as v;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin input-styling {
  font-size: v.$input-font-size;
  width: 100%;
  height: 100%;
  resize: none;
  padding-left: 10px;
  border: 2px solid v.$border-color;
  outline: none;
  background-color: transparent;
  color: v.$text-color;
  font-family: v.$font-stack;
  border-radius: 5px;
}

@mixin button-styling {
  width: 55%;
  font-size: v.$button-font-size;
  background-color: v.$primary-bg-color;
  color: rgba(211, 211, 211, 0.85);
  padding: 10px;
  font-family: v.$font-stack;
}
