@use "variables" as v;
@use "mixins" as m;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  @include m.flex-center;
  height: 100vh;
  font-family: v.$font-stack;
  background-color: v.$primary-bg-color;
  color: v.$text-color;
  justify-content: flex-start;
  flex-direction: column;
}

main {
  width: 80%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;

  @include m.mobile {
    width: 100%;
    padding: 0.5em;
  }
}

.container {
  @include m.flex-center;
  flex-direction: column;
  margin-top: 100px;
  @include m.mobile {
    margin-top: 50%;
  }
  @include m.large-tablet {
    margin-top: 40%;
  }
}

.inputField,
.outputField {
  @include m.flex-center;
  width: 50%;
  height: 100px;
  @include m.mobile {
    width: 90%;
    height: 5em;
  }
  @include m.large-tablet {
    width: 90%;
  }

  &__textarea,
  &__result {
    @include m.input-styling;
    @include m.mobile {
      font-size: 18px;
    }
  }
}

.buttons {
  @include m.flex-center;
  flex-direction: column;
  gap: 10px;
  width: 23.33%;
  height: 80%;
  user-select: none;

  @include m.mobile {
    width: 50%;
  }
  @include m.large-tablet {
    width: 50%;
  }

  &__translate,
  &__switch {
    @include m.button-styling;
    @include m.mobile {
      width: 100%;
    }
    @include m.large-tablet {
      width: 60%;
    }
  }
}

.mode-title {
  margin-bottom: 35px;
}
